.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  background-color: #eee;
  background-blend-mode: multiply;
  color: #333;
  border: 1px solid #aaa;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 10px;
}

.button:hover,
.button:active {
  background: #ccc;
  color: #333;
  border: 1px solid #aaa;
}

.button:focus {
  outline: none;
}

.button .icon {
  display: contents;
  margin-right: 5px;
}

.button .icon svg {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

@media (width <= 600px) {
  .button {
    width: 100%;
  }
}
