@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

main.main {
  font-family: "Roboto", sans-serif;
  background: #333;
  color: #ccc;
}

h1.title {
  text-align: center;
  margin: 30px auto;
}

hr.divider {
  border: 3px solid #ccc;
  border-radius: 5px;
  margin-bottom: 30px !important;
}
